<a href="https://colab.research.google.com/github/LucianoBritis/Data-Analysis-with-Python/blob/main/Pandas_Introducao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importando a biblioteca pandas

In [ ]:
import pandas as pd

##Leitura do arquivo do drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Datasets/gapminder_full.csv')

#Visualizando o head da planilha

In [ ]:
data.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

#Modificando o titulo das colunas para Pt-br

In [ ]:
data = data.rename(columns={'country':'País','year':'Ano', 'population':'População', 'continent':'Continente', 'life_exp':'Expectativa de vida', 'gdp_cap':'PIB'})

In [ ]:
data.head(15)

           País   Ano  População Continente  Expectativa de vida          PIB
0   Afghanistan  1952    8425333       Asia               28.801   779.445314
1   Afghanistan  1957    9240934       Asia               30.332   820.853030
2   Afghanistan  1962   10267083       Asia               31.997   853.100710
3   Afghanistan  1967   11537966       Asia               34.020   836.197138
4   Afghanistan  1972   13079460       Asia               36.088   739.981106
5   Afghanistan  1977   14880372       Asia               38.438   786.113360
6   Afghanistan  1982   12881816       Asia               39.854   978.011439
7   Afghanistan  1987   13867957       Asia               40.822   852.395945
8   Afghanistan  1992   16317921       Asia               41.674   649.341395
9   Afghanistan  1997   22227415       Asia               41.763   635.341351
10  Afghanistan  2002   25268405       Asia               42.129   726.734055
11  Afghanistan  2007   31889923       Asia               43.828   974.580338
12      Albania  1952    1282697     Europe               55.230  1601.056136
13      Albania  1957    1476505     Europe               59.280  1942.284244
14      Albania  1962    1728137     Europe               64.820  2312.888958

#Ver quantidade de linhas e colunas ativas na planilha

In [ ]:
data.shape

(1704, 6)

##Data type

In [ ]:
data.dtypes

País                    object
Ano                      int64
População                int64
Continente              object
Expectativa de vida    float64
PIB                    float64
dtype: object

In [ ]:
data.tail(10)

          País   Ano  População Continente  Expectativa de vida         PIB
1694  Zimbabwe  1962    4277736     Africa               52.358  527.272182
1695  Zimbabwe  1967    4995432     Africa               53.995  569.795071
1696  Zimbabwe  1972    5861135     Africa               55.635  799.362176
1697  Zimbabwe  1977    6642107     Africa               57.674  685.587682
1698  Zimbabwe  1982    7636524     Africa               60.363  788.855041
1699  Zimbabwe  1987    9216418     Africa               62.351  706.157306
1700  Zimbabwe  1992   10704340     Africa               60.377  693.420786
1701  Zimbabwe  1997   11404948     Africa               46.809  792.449960
1702  Zimbabwe  2002   11926563     Africa               39.989  672.038623
1703  Zimbabwe  2007   12311143     Africa               43.487  469.709298

In [ ]:
data.describe()

              Ano     População  Expectativa de vida            PIB
count  1704.00000  1.704000e+03          1704.000000    1704.000000
mean   1979.50000  2.960121e+07            59.474439    7215.327081
std      17.26533  1.061579e+08            12.917107    9857.454543
min    1952.00000  6.001100e+04            23.599000     241.165877
25%    1965.75000  2.793664e+06            48.198000    1202.060309
50%    1979.50000  7.023596e+06            60.712500    3531.846989
75%    1993.25000  1.958522e+07            70.845500    9325.462346
max    2007.00000  1.318683e+09            82.603000  113523.132900

##Retorno de valores unicos da base

Retorno de valores unicos da base

In [ ]:
data['Continente'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

Retorno de valores unicos da base 'Americas'

In [ ]:
Americas = data.loc[data['Continente'] == 'Americas' ]

In [ ]:
Americas.head(10)

         País   Ano  População Continente  Expectativa de vida           PIB
48  Argentina  1952   17876956   Americas               62.485   5911.315053
49  Argentina  1957   19610538   Americas               64.399   6856.856212
50  Argentina  1962   21283783   Americas               65.142   7133.166023
51  Argentina  1967   22934225   Americas               65.634   8052.953021
52  Argentina  1972   24779799   Americas               67.065   9443.038526
53  Argentina  1977   26983828   Americas               68.481  10079.026740
54  Argentina  1982   29341374   Americas               69.942   8997.897412
55  Argentina  1987   31620918   Americas               70.774   9139.671389
56  Argentina  1992   33958947   Americas               71.868   9308.418710
57  Argentina  1997   36203463   Americas               73.275  10967.281950

In [ ]:
Americas['Continente'].unique()

array(['Americas'], dtype=object)

#Agrupamento de dados

In [ ]:
data.groupby('Continente')['País'].nunique()

Continente
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: País, dtype: int64

In [ ]:
data.groupby('País')['Continente'].nunique()

País
Afghanistan           1
Albania               1
Algeria               1
Angola                1
Argentina             1
                     ..
Vietnam               1
West Bank and Gaza    1
Yemen, Rep.           1
Zambia                1
Zimbabwe              1
Name: Continente, Length: 142, dtype: int64

##Expectativa media por ano

In [ ]:
data.groupby('Ano')['Expectativa de vida'].mean()

Ano
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: Expectativa de vida, dtype: float64

In [ ]:
data['PIB'].mean()

7215.327081212142

In [ ]:
data.groupby('Ano')['PIB'].mean()

Ano
1952     3725.276046
1957     4299.408345
1962     4725.812342
1967     5483.653047
1972     6770.082815
1977     7313.166421
1982     7518.901673
1987     7900.920218
1992     8158.608521
1997     9090.175363
2002     9917.848365
2007    11680.071820
Name: PIB, dtype: float64